.profile {
  margin: 40px 19px 0;
  /* padding: 0 19px; */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 0 max-content auto max-content 0;
  align-items: center;
  /* max-width: 880px; */
}


/* @media screen and (max-width: 1023px) {
  .profile {
    margin-left: 19px;
    margin-right: 19px;
    grid-template-columns: 1fr max-content auto 1fr;
  }
} */

@media screen and (max-width: 767px) {
  .profile {
    margin-top: 42px;
    /* margin-left: 19px;
    margin-right: 19px; */
    grid-template-columns: 1fr auto 1fr;
    justify-content: center;
  }
}