.form__fieldset {
  border: 0;
  margin: 44px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}


@media screen and (max-width: 767px) {
  .form__fieldset {
    margin-top: 71px;
  }
}