.form__input-error {
  visibility: hidden;
  color: var(--color_error);
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  word-break: break-all;
  min-height: 24px;
  z-index: 1;
}