.profile__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/icons/addBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--color_white);
  border-radius: 2px;
  box-sizing: border-box;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin-top: 32px;
    margin-left: 0;
    width: 282px;
  }
}