.elements{
  margin: 51px 200px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 20px 17px;
  justify-items: center;
}


@media screen and (max-width: 1079px) {
  .elements {
    margin-top: 28px;
    margin-right: 19px;
    margin-left: 19px;
  }
}