.form__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/icons/closeBtn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .form__close {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}