.popup__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0 0 8px 0;
  outline: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__item:focus {
  border-bottom: 2px solid var(--color_orangered);
}

@media screen and (max-width: 767px) {
  .popup__item {
    padding: 0 0 10px 0;
  }
}